
.tool-output-error
  color red !important
  display: inline-block;
  border-radius: 32rpx;
  background: rgba(35, 35, 35, 1);
  border: 1px solid rgba(230, 50, 50, 1);
  flex-direction: column;
  justify-content: flex-start;
  padding: 24rpx 32rpx 24rpx 32rpx;
