WOWNOW_YELLOW = #FADA39

page
  --button-primary-background-color WOWNOW_YELLOW
  --button-primary-color #0A0A0A
  --button-primary-border-color WOWNOW_YELLOW
  --button-border-radius 32rpx
  --button-normal-font-size 32rpx
  --button-normal-font-weight 500
  --tabs-nav-background-color transparent
  --tabs-bottom-bar-color WOWNOW_YELLOW
  --tab-font-size 30rpx !important
  --font-weight-bold 400 !important
  --tab-active-text-color white
  --tab-text-color white
  --tabs-line-height 33px !important
  --tabs-bottom-bar-height 2px

.van-button
  font-weight 600

// .van-tabs__line
//   width 40rpx !important

.van-ellipsis
  overflow unset !important

.van-cell
  background transparent !important
  padding 16rpx !important

.van-popup
  z-index 99999 !important

.van-step--vertical
  &::after
    border-bottom-width 0 !important
